@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
	--turquesa:#62BCA8;
	--negro:#000000;
	--blanco:#ffffff;
	--amarillo:#FFAB00;
	--fucsia:#FF4081;
	--plomo:#9B9A9A;
	--turquesaTransp:#B8E1D8;
	--turquesaOpacidad:rgba(99,189,169,0.4);
	--negroTransp:rgba(0,0,0,0.85);
	--blancoTransp:rgba(255,255,255,0.3);
	--amarilloTransp:rgba(255,171,0,0.7);
	--fucsiaTrans:rgba(255,64,129,0.3);
	--plomoTrans:rgba(155,154,154,0.3);
	--blanco2Transp:rgba(255,255,255,0.8);
}
*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border: none;
	/*text-transform: capitalize;*/
	
}


body{
    position: relative;
}
.formAsistencia{
    background: url(https://www.sesamehr.cl/wp-content/uploads/2021/12/marcacion-de-asistencia.jpg);
    background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
}
.circuloBordeBlanco{
	position: absolute;
	z-index: 3;
	width: 20%;
  left: -6rem;
  top: -6rem;
}
.puntosTurquesa{
	position: absolute;
	z-index: 3;
	width: 18%;
 	right: 0rem;
  	top: 2rem;
}
.trianguloBordeGray{
	position: absolute;
	z-index: 3;
	width: 18%;
 	right: 0rem;
  	bottom: 0;
}
.zigzagblack{
	position: absolute;
	z-index: 3;
	width: 15%;
 	left: 5rem;
  	bottom: 6rem;
}
.rowAsistencia{
    margin: 4% 15%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}
/*-----Header-----*/
.rowForm1{
    display: grid;
  grid-template-columns: 8% 77% 15%;
}
.backLogoDux{
    width: 60%;
}
/*-----formulario-----*/
.colForm{
    background: var(--blancoTransp);
    /*border-radius: 3rem;*/
    padding: 4%;
    text-align: right;
    
}
.rowForm{
    margin: 5% 0;
}

.textoInforme{
    font-size: 8rem;
    font-weight: bold;
    color:var(--turquesaTransp);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: end;
}

.textoDiario{
    font-size: 8rem;
    font-weight: bold;
    color:var(--plomo);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
   text-align: end;
}
.icono{
    color: var(--turquesa);
}
.pasante{
    background: transparent;
    height: 2.5rem;
    padding: 2%;
    font-size: .9rem;
    width: 100%;
}
.labelName{
 text-align: left;
 color: black;
 font-size: 1rem;
}
.inputName{
    background: var(--plomoTrans);
    width: 100%;
    height: 2.5rem;
    padding: 2%;
    font-size: .9rem;
    border-radius: 3rem;
}


.inputName2{
    background: var(--plomoTrans);
    width: 100%;
    height: 2.5rem;
    padding: 4%;
    font-size: .9rem;
    border-radius: 3rem;
}
.inputName3{
    background: var(--plomoTrans);
    width: 100%;
    padding: 2%;
    height: 10rem;
    border-radius: 2rem;
}

.marcar{
    background: var(--turquesa);
    border-radius: 3rem;
    color: white;
    font-weight: bold;
    text-align: center;
   width: 50%;
    height: 3rem;
    padding: 2%;
}
.marcar:hover{
    background: black;
    
}

/*responsive design adaptados a cel*/
@media screen and (max-width:760px){/*1300px*/

    .rowAsistencia{
        margin: 0;
    }
    .textoInforme{
        writing-mode: horizontal-tb; 
        transform: rotate(0deg);
        font-size: 3rem;
        text-align: center;
    }
    .textoDiario{  
     writing-mode: horizontal-tb;
     transform: rotate(0deg);  
     font-size: 3rem;
     text-align: center;
    }
    
    .divIcono{
        font-size: .9rem;
    }
    .rowForm1{
        display: grid;
      grid-template-columns: 15% 65% 20%;
     
    }
    .backLogoDux{
        width: 10%;
    }
    .pasante{
        font-size: .7rem;
    }
    
}
