/*body{
  background-image: url("../img/pdfima/dux.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}*/

h1{
  text-align: center;
}
table {
  width: 100%;
  border: 2px solid rgb(45, 188, 245);
  border-radius: 10px;
}
th, td {
  width: 25%;
  text-align: center;
  vertical-align: top;
  border: 1px solid #000;
  border-spacing: 0;
  border-radius: 2px;
}
thead{
  background-color: rgb(45, 188, 245);
  color: rgb(0, 0, 0);
  
  
}



/*body {
    height: 500px;
    background-image: url("../img/pdfima/dux.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: cover;
    background-position: -50px 0;
   
  }
 
 
 /*.foto1 { 
   position:relative; left:-100px; top:-100px; background-color:yellow;*/

    
    /*padding:0px; 
    margin: 0px; 
    border: 0px 
    solid black; 
    float: left; 
    width: 100px; 
    margin-left: -1.1cm;
	  margin-right: 0cm;
}*/

/*body {
    height: 500px;
    background-image: url("../img/pdfima/dux.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: cover;
    background-position: -50px 0;
   
  }
/*  .foto1{
    margin: 13%;
width: 65px;
border-radius:  50%;
height: 65px;
background: #448ed3 ;
position: relative;
border:2px solid #fff;
bottom: 50px;
overflow:hidden;
}*/