body{
    margin: 0;
    padding: 0;
    
}
/*.contenedor{
    background: linear-gradient(90deg,
    rgba(5,72,82,1) 0%,
    rgba(9,39,79,1) 50%,
    rgba(51,47,83,1) 100%
    );
    margin: 0 auto;
    padding: 0 6px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}*/
/*imagen de fondo*/
img{
    width: 25rem;
}
.c-card{
    display: flex;
    padding: 20px;
    background: red;
}
/*card desplegable*/
.card{
    max-width: 500px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background-color: #1a1a1ae3;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25),
    -5px -5px 30px 7px rgba(0,0,0,0.22);
}
.card__banner{
    position: relative;
    
}
.card__banner img{
    display: block;
}
/*transaparencia sobre imagen*/
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}
/*card*/
.c-background{
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    width: 100%;
    background: blue;
}
/*imagen de portada*/
.card__poster img{
    top: 25px;
    max-width: 150px;
    border-radius: 5px;
    animation: poster 2s linear 2s infinite alternate;
}
@keyframes poster{
    0%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(1.03, 1.03);
        box-shadow: 0px 0px 10px 7px rgba(94,94,94,0.25);
    }
}
.card_banner_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: bisque;
    padding: 0px 0px 10px 0px;
    text-align: right;
}
/*DATOS DEL CURSO*/  
._content-title{
    font-size: 1.1rem;
    color: #f3f3f3;
    margin: .1rem;
    width: 16rem;
    background-color: cadetblue;
}
._content-subtitle{
    font-size: .8rem;
    color: #d8d8d8;
    margin: .1rem;
}
/*BOTON: INSCRIBIRSE*/  
._content-btn{
    cursor: pointer;
    border: .2rem solid rgb(33, 160, 149);
    background-color: transparent;
    border-radius: 5px;
    color: #d8d8d8;
    font-size: .9rem;
    font-weight: 600;
    margin-top: 10px;
    padding: 5px 20px;
    transition: all 0.6s ease;
}
._content-btn:hover{
    color: rgb(33, 160, 149);
}

/*BOTON: ABRIR TARJETA*/   
.drop{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.drop-rotate{
    transform: rotate(180deg);
}
.drop i{
    display: block;
    cursor: pointer;
    font-size: 1.8rem;
    color: rgb(204, 204, 204,0.179);
    transition: all 0.6s ease;
}
.drop i:hover{
    color: rgb(230, 230, 230);
}
.drop-active{
    height: 230px !important;
}
/*INFERIOR: MAS DETALLES*/
.card_descripcion{
    height: 0px;
    transition: all 0.6s ease;
}
.c-card_descripcion{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}
.card_descripcion_texto h1{
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #4d4d4d;
}

.card_descripcion_texto p{
    font-size: 0.9rem;
    text-align: justify;
    margin: .1rem;
    color: white;
}
.detalles-Curso {
    color: #a1a1a1;
    font-size: .8rem;
}
