:root{
	--turquesa:#62BCA8;
	--negro:#000000;
	--blanco:#ffffff;
	--amarillo:#FFAB00;
	--fucsia:#FF4081;
	--plomo:#9B9A9A;
	--turquesaTransp:#B8E1D8;
	--turquesaOpacidad:rgba(99,189,169,0.4);
	--negroTransp:rgba(0,0,0,0.85);
	--blancoTransp:rgba(255,255,255,0.3);
	--amarilloTransp:rgba(255,171,0,0.7);
	--fucsiaTrans:rgba(255,64,129,0.3);
	--plomoTrans:rgba(155,154,154,0.3);
	--blanco2Transp:rgba(255,255,255,0.8);
}
body{
  position: relative; 
}
.trianguloBordeBlanco{
  position: absolute;
	z-index: 3;
	width: 8%;
  left: 28rem;
  top: 4.5rem;
}
.cuadradoDoble{
  position: absolute;
	z-index: 3;
	width: 8%;
  left: 5rem;
  top: 10rem;
}
.zigZagNegro{
  position: absolute;
	z-index: 3;
	width: 10%;
  left: 5rem;
  top: 25rem;
}
.puntosBlancoLargo{
  position: absolute;
	z-index: 3;
	width: 10%;
  left: 18rem;
  top: 18rem;
}
.circuloAmarillo{
  position: absolute;
	z-index: 3;
	width: 3.5%;
  height: 1%;
  left: 32rem;
  top: 41rem;
}
.trianguloBordePlomo{
  position: absolute;
	z-index: 3;
	width: 30%;
  
  left: -15rem;
  top: 25rem;
  transform: rotate(-40deg);
}
.puntosTurquesaLargo{
  position: absolute;
	z-index: 3;
	width: 12%;
  right: 10rem;
  top: 45rem;
}
.circuloAmarillo2{
  position: absolute;
	z-index: 4;
	width: 5%;
  height: 2%;
  right: 50rem;
  top: 50rem;
}
.trianguloBordeTurquesa{
  position: absolute;
	z-index: 3;
	width: 5%;
  
  left: 15rem;
  top: 65rem;
  transform: rotate(-40deg);
}
.puntosAmarillo{
  position: absolute;
	z-index: 3;
	width: 12%;
  
  left: 10rem;
  top: 116rem;

}
.trianguloBordeAmarillo{
  position: absolute;
	z-index: 3;
	width: 5%;
  right: 10rem;
  top: 160rem;
  transform: rotate(-40deg);
}
.trianguloBordeTurquesa2{
  position: absolute;
	z-index: 3;
	width: 30%;
  
  left: -15rem;
  top: 175rem;
  transform: rotate(-50deg);
}
.circuloBordeAmarillo{
  position: absolute;
	z-index: 3;
	width: 8%;
  right: 6rem;
  top: 218rem;
}
.puntosBlancoLargo2{
  position: absolute;
	z-index: 3;
	width: 12%;
  
  left: 0rem;
  top: 255rem;
}
.zigZagNegro{
  position: absolute;
	z-index: 3;
	width: 12%;
  
  left: 3rem;
  top: 280rem;

}
.trianguloBordeBlanco2{
  position: absolute;
	z-index: 3;
	width: 12%;
  right: 2rem;
  top: 286rem;
  transform: rotate(40deg);
}
/*------------------------*/
/*----CABECERA NOSOTROS----*/
/*------------------------*/

.cabeceraNosotros{
  background: var(--turquesaTransp)
}
.tituloEfecto .char {
  transition: color 0.5s linear;
  transition-delay: calc(0.04s * var(--char-index));
}

.tituloEfecto:hover {
  color: var(--plomoTrans);
}


.imgNosotrosDiv{
  
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); 
}
.colUno{
  
}
.colDos{
  margin: 0;
  padding: 0;
  text-align: right;
  background-color: white;
  
}
.colTres{
  margin: 0;
  padding: 0;
  text-align: right;
  background-color: white;
}
.tituloNosotros{
  margin: 12% 0 12% 0;
  padding: 0;
}
.descNosotros{
  border-top: 4px solid var(--turquesaTransp);
  border-bottom: 4px solid var(--turquesaTransp);
  margin-top: 13.4%;
  margin-bottom: 10%;
  
  
  padding: 25% 0 25% 0;
  width: 110%;
  height: 85.1%;
  
}
.imgNosotros{
  height: 100%;
  background-image: url(../img/fondoCursoOpacity.jpg);
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	background-attachment: fixed; 
  margin-left: -45%;
}
.descNosotrosDux{
  border-top: 4px solid var(--turquesaTransp);
  border-bottom: 4px solid var(--turquesaTransp);
  border-right:4px solid var(--turquesaTransp);;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right:20%;
  margin-left: -35%;
  font-size: 6rem;
  font-weight: bold;
  padding: 10% 10% 10% 0;
  color: var(--plomoTrans);
  
}
.cambioColor{
  color: white;
}
.significado{
  font-size: 1rem;
  color: var(--negroTransp);
  font-weight: normal;
  padding: 5% 0 5% 40%;
}

  
  /*------------------------*/
  /*-----MISION VISION=----*/
  /*------------------------*/
  
  .misionVision{	
    
    padding: 5% 15% 5% 15%;
  }
  .misionVision .mision{
    margin-bottom: 5%;
    text-align: left;

  }
  .misionVision .vision{
    
    text-align: right;
  }
  .misionVision  .titulo{
    font-size: 2rem;
    font-weight: bold;
  }
  .misionVision .descripcion{
    font-size: 1rem;
  }
  
/*------------------------*/
  /*-------logros-=====----*/
  /*------------------------*/
  .logros{
    background: url(../img/fondoInicioLibros.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	background-attachment: fixed;
    padding: 4% 12% 8% 12%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;

  }
  .logros2{
    margin-top: -12%;
    padding: 4% 12% 4% 12%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;

  }
  .tituloSeccionLogros{
   
    font-size: 4rem;
    color: var(--blancoTransp);
    font-weight: bold;
    text-align: center;
  }
  .lineaLogros{
    text-align: center;
    border-top: .3rem solid var(--turquesaTransp);
    width: 4rem;
    margin-left: 45%;

  }
  .cardLogro{
    padding: 2%;
    background: rgba(255,255,255,0.5);
    margin: 4%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
  }
 .iconoCirculo{
   color: var(--turquesaTransp);
 }
  
  .iconoLogro{
    
    color: white;
  }
  .logroIcono{
    padding: 8% 0 4% 0;
  }
  
  .tituloLogro{
    font-size: 1rem;
    color: var(--turquesa);
    font-weight: bold;
    margin: 0;
    
  }
  .rellenoTitulo{
    background: black;
  }
  .instLogro{
    font-size: .9rem;
    
    color: white;
    margin: 0;
  }
  .fechaLogro{
    font-size: .9rem;
    color: var(--turquesa);
    font-weight: bold;
  }
  .descLogro{
    font-size: .8rem;
    color: black;
  }
  .rowInicio{
    display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  
  }
  


  
  
  
	
  
  /*------------------------*/
  /*-------EQUIPO-=====----*/
  /*------------------------*/
  


/*------------*/
/*-SUMATE DUX-*/
/*------------*/
.sumateDux{
  padding: 6% 16% 8% 16%;
  background: var(--turquesaOpacidad);
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);

}
.divlineaSumDux{
  border-top: .4rem solid var(--turquesa);
	width: 5rem;
}
.tituloSumDux{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.divimgSumDux{
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  display: inline-block; /* para que solo ocupe el ancho de la imagen */
}
.imgSum{
 
  width: 28.5rem;
  position: absolute;    /* posición absolute con respecto al padre */
  bottom: 0;             /* posicionada en la esquina inferior derecha */
  right: 1rem;
  z-index: -1;
}

.descSumDux{
  background: rgba(255,255,255,0.8);
  padding: 11%;
  margin-top: 5%;
  margin-bottom: 5%;
  
  text-transform: uppercase;
  

}
.btnSumDux{
  padding: 5% 10% 5% 10%;
  background: white;
  color: black;
  font-weight: bold;
}
.btnSumDux:hover{
  background: black;
  color: white;
  font-weight: bold;
}
.contSumDux{
  background:  var(--blancoTransp);
  padding: 5%;
  text-transform: uppercase;
  color: black;
}
/*---------------*/
/*-----AREAS-----*/
/*---------------*/
.areasContenido{
  
  text-align: right;
  padding: 4% 15% 8% 15%;
  margin: 3% 0 0 0;
}
.tituloSumate{
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}
.areasDux{
  margin: 0;
  padding: 0;
}
.rowCardAreas{
  background: url(../img/fondoCursos.jpeg);
  
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.cardAreas{
  padding: 4%;
  margin: 6%;
  
  color: white;
  background: var(--blancoTransp);
 
}
.cardAreas:hover{
  transform: scale(1.1); 
  
  z-index: 1;
}

.contArea{
  text-align: center;
  font-size: .8rem;
}

/*------------------------*/
  /*-------ALIANZAS-=====----*/
  /*------------------------*/
  .alianzas{
    padding: 2% 5% 5% 5%;}
  .alianzas .swiper {
    width: 100%;
    height: 100%;
  }
  
  .alianzas  .swiper-slide {
	
	color: #000;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4%;
  }
  .boxAlianzasInicio{
    text-align: center;
    margin-top: 5%;
    padding: 0;
  }
  .titAlianzasInicio{
    
    font-size: 4rem;
    font-weight: bold;
    color: var(--turquesaOpacidad);
  }
  .descAlianzasInicio{
    font-size: 1rem;
  }
/*------------------------*/
  /*-------EQUIPO-=====----*/
  /*------------------------*/
/*PERSONAS*/
.rowPersonTeam{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 0 4% 0 4%;
  margin: 0 5% 0 5%;
}
.imgBoxEquipo{
  border: 3px solid var(--plomoTrans);
  text-align: center;
  color: var(--turquesa);
  font-size: 1.5rem;
  padding: 0;
  margin:4%;
}
.nombrePersona{
  font-size: 1.5rem;
  color: var(--turquesa);
}
.colPersona{
  box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
  padding: 2%;
  transform: rotate(-5deg);
  filter: grayscale(1);
  
}
.colPersona:hover{
  transform: scale(1); 
  z-index: 1;
  filter: grayscale(0); 

}
.colPersona2{
  box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
  padding: 2%;
  
  filter: grayscale(1);
  
}
.colPersona2:hover{
  transform: scale(1); 
  z-index: 1;
  filter: grayscale(0); 
  transform: rotate(2deg); 
}
.colPersona3{
  box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
  padding: 2%;
  transform: rotate(-3deg); 
  filter: grayscale(1);
}
.colPersona3:hover{
  transform: scale(1); 
  z-index: 1;
  filter: grayscale(0); 
 

}
.colPersona4{
  box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
  padding: 2%;
  transform: rotate(5deg);
  filter: grayscale(1);
  
}
.colPersona4:hover{
  transform: scale(1); 
  z-index: 1;
  filter: grayscale(0); 

}

.cargoPersona{
  text-align: center;
  font-weight: bold;
  color: var(--turquesa);
  font-size: 1rem;
  background: var(--turquesaTransp);
  margin: 4%;
  padding: 4%;

}
.contenidoImgEquipo{
  position: relative;
  width: 100%;
  
}
.imgPersonaEquipo{
  padding: 4%;
  display: block;
  width: 100%;
  height: auto;
  
}


.overlayimgPersonaEquipo {
  margin: 4%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 91%;
  width: 91%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, 0.1);
}

.contenidoImgEquipo:hover .overlayimgPersonaEquipo {
  opacity: 1;
}

.textoFrase{
  border-left: 3.5px solid white;
  color: white;
  font-size: .8rem;
  text-align: left;
  position: absolute;
  bottom: 4%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 3%;
}