body{
 position: relative;
}

.trianguloBordePlomo{
    position: absolute;
	z-index: 3;
	width: 5%;
  left: 15rem;
  top: 17rem;
}
.puntosTurquesa{
    position: absolute;
	z-index: 3;
	width: 15%;
  left: 5rem;
  top: 25rem;
}
.circuloBordeAmarillo{
    position: absolute;
	z-index: 3;
	width: 15%;
  left: 5rem;
  top: 58rem;
}
.trianguloBordeBlanco{
    position: absolute;
	z-index: 3;
	width: 20%;
 right: -5rem;
  top: 80rem;
  transform: rotate(-40deg);
}
.cardsCursos{
    padding: 5%;
}
/*TAB DE FILTERS*/

.css-filter--links{
    width: 15rem;   
}

.css-filter--links a {
    float: left;
    color: black;
    display: inline-block;
    padding: 0.5em;
    background: var(--turquesaOpacidad); 
    width: 100%;
    text-decoration: none;

}
.css-filter--links a:hover {
    background: white;
    color: black;
    font-weight: 600;
}
/*TAB DE FILTERS*/
.content-container {
    display: flex;
    flex-flow: row wrap;
    /*background-color: blueviolet;*/
    /*justify-content: center;*/
}
.content-container .css-filter--item {
    
    /*background-color: rgb(83, 188, 223);*/
    padding: 0;
    margin: 2em;
    margin-top: 0;
   /* width: 25%;*/
   display: inline-block;/*eliminar o aceptar*/
    text-align: center;
    box-sizing: border-box;
    
}

.css-filter--target:not(:target) ~ .css-filter--item {
    display: block;
}
.css-filter--target:target ~ .css-filter--item {
    display: none;
}
[id="tag:filter1"]:target ~ [data-tag~="filter1"] {
    display: block;
}
[id="tag:filter2"]:target ~ [data-tag~="filter2"] {
    display: block;
}
[id="tag:filter3"]:target ~ [data-tag~="filter3"] {
    display: block;
}
/*---------------*/
/*---------------*/
/*---------------*/
img{
    width: 25rem;
}
.c-card{
    display: flex;
    padding: 0px;
    /*background: red;*/
}
/*card desplegable*/
.card{
    max-width: 480px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background-color: #1a1a1ae3;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25),
    -5px -5px 30px 7px rgba(0,0,0,0.22);
}
.card__banner{
    position: relative;
    
}
.card__banner img{
    display: block;
}
/*transaparencia sobre imagen*/
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}
/*card*/
.c-background{
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    width: 100%;
    /*background: blue;*/
}
/*imagen de portada*/
.card__poster img{
    top: 25px;
    max-width: 150px;
    border-radius: 5px;
    animation: poster 2s linear 2s infinite alternate;
}
@keyframes poster{
    0%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(1.03, 1.03);
        box-shadow: 0px 0px 10px 7px rgba(94,94,94,0.25);
    }
}
.card_banner_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background: bisque;*/
    padding: 0px 0px 10px 0px;
    text-align: right;
}
/*DATOS DEL CURSO*/  
._content-title{
    font-size: 1.1rem;
    color: #f3f3f3;
    margin: .1rem;
    width: 16rem;
    background-color: rgba(99,189,169,0.65);;
}
._content-subtitle{
    font-size: .8rem;
    color: #d8d8d8;
    margin: .1rem;
}
/*BOTON: INSCRIBIRSE*/  
._content-btn{
    cursor: pointer;
    border: .2rem solid rgba(99,189,169,0.65);;
    background-color: transparent;
    border-radius: 5px;
    color: #d8d8d8;
    font-size: .9rem;
    font-weight: 600;
    margin-top: 10px;
    padding: 5px 20px;
    transition: all 0.6s ease;
}
._content-btn:hover{
    color: rgba(99,189,169,0.65);;
}

/*BOTON: ABRIR TARJETA*/   
.drop{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.drop-rotate{
    transform: rotate(180deg);
}
.drop i{
    display: block;
    cursor: pointer;
    font-size: 1.8rem;
    color: rgb(204, 204, 204,0.179);
    transition: all 0.6s ease;
}
.drop i:hover{
    color: rgb(230, 230, 230);
}
.drop-active{
    height: 230px !important;
}
/*INFERIOR: MAS DETALLES*/
.card_descripcion{
    height: 0px;
    transition: all 0.6s ease;
}
.c-card_descripcion{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}
.card_descripcion_texto h1{
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #4d4d4d;
}

.card_descripcion_texto p{
    font-size: 0.9rem;
    text-align: justify;
    margin: .1rem;
    color: white;
}
.detalles-Curso {
    color: #a1a1a1;
    font-size: .8rem;
}

/*--------------*/
/*--TRABAJAMOS--*/
/*--------------*/
.trabajamos{
    background: var(--turquesaOpacidad);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      padding: 8% 20% 10% 20%;
      text-align: center;
      color: black;
  }
  .tituloTrabajamos{
      font-size: 2rem;
      font-weight: bold;
      
  }
  .tituloTrabajo{
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .descTrabajo{
    font-size: 1rem;
  }
  .iconoTrabajo{
    font-size: 4rem;
    color: var(--turquesaOpacidad);
    text-align: center;
    
  }
  