body{
  position: relative;
}
.trianguloBordePlomo{
  position: absolute;
	z-index: 3;
	width: 20%;
 left: 40rem;
  top: -5rem;
}

.trianguloBordeAmarillo{
  position: absolute;
	z-index: 3;
	width: 20%;
  left: 0rem;
  top: 50rem;
  transform: rotate(-40deg);
}
.tituloCurso2{
    text-align: center;
}

#regForm {
    background-color: #ffffff;
    margin: 50px auto;
    
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  h1 {
    text-align: center;  
  }
  
  input {
    padding: 5px;
    width: 100%;
    font-size: .8rem;
    
    border: 1px solid #aaaaaa;
    
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
    font-size: .8rem;
  }
  
  .buttonStep {
    background-color: rgba(99,189,169,0.65);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    
    /*cursor: pointer;*/
  }
  
  .buttonStep:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  .step.finish {
    background-color: rgba(99,189,169,0.65);;
  }

  /*--------------------------*/
  /*----FIN FORMULARIO--------*/
  .labeldatos{
      font-size: 1rem;
  }
  select{
    padding: 5px;
    width: 100%;
    font-size: .8rem;
    
    border: 1px solid #aaaaaa;
  }


 .desCursos{
 
  padding:0% 10% 0% 10%;
  /* The image used */
  background-image: url("../img/fondoCursoOpacity.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  }
  .iconosCursos{
      padding: 8%;
      /*background: var(--turquesaOpacidad);
      clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
		background-size: cover;
		background-position: center;*/
      padding:8% 12% 8% 12%;
      text-align:center;
      font-size:.8rem;
      color:#aaaaaa;
  }
.iconosTarget{
  /*background:#fdfdfd;
  padding:5% 2% 5% 2%;
  margin:2%;
  border: 1px solid #aaaaaa;*/
  
  color: white;
  font-size:.8rem;
  text-align:left;
  
}
.iconosTargetCursos{
  font-size: 3rem;
  color: white;
  
}
  .btnCursosMore{
	
	padding: .7rem 3.5rem;
	background: var(--negro);
	border-radius: 0.5rem;
	color: var(--blanco);
	cursor: pointer;
	margin-top: 1.5rem;
	font-weight: bold;
}

.btnCursosMore:hover{
	background-color: var(--turquesa);
	border: 1px solid var(--turquesa);
	color: white;
}
.otrosEventos{
 

    padding:6% 18% 8% 18%;
    text-align:center;
    font-size:.9rem;
    
}



/*FORMA DE PAGO*/

.comboSelector { 
  background-color:transparent; 
}
select#tipo { 
  /*padding:5px 10px; */
}
.opcionesWrapper { 
  
  background-color:transparent; 
  
  color:#FFF; 
}
.opciones { 
  display:none; 
}
/*FIN FORMA DE PAGO*/
/*TITULO DATOS TRANS/DEP*/
.titulodatosdep{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  margin: 2% 0 4% 0;
}

 /*-------------------*/ 
/*------DESCUENTOS----*/
/*-------------------*/ 
.cabPrecio{

  margin-bottom: 5%;
  
}
  .tituloprecio{
    font-size: 1.4rem;
    font-weight: bold;
    
  }
  .tipoprecio{
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #ad1919;
  }

  .moneda{
    
    font-weight: bold;
    color: black;
  }
  .monto{
    
    font-weight: bold;
    color: black;
  }
  #errorCodigo{
    color: red;
    font-size: .9rem;
    font-weight: bold;
    
  }
  .regulartable{
    /*background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);*/
    border: 1px solid #aaaaaa;
    width: 100%;
    margin: 0;
    padding: 0;
  }
 /*-------------------*/ 
/*----FIN DESCUENTOS--*/
/*-------------------*/ 
.lineaDivCursos {
	border-top: .5rem solid rgba(99,189,169,0.65);
	width: 100%;
	
	
	padding-bottom: 1rem;
  }
.lineaDivForm {
  border-top: 1px solid #aaaaaa;
  width: 100%;
  
  padding-top: 1rem;
  padding-bottom: 1rem;
  }

.antSig{

}
