@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
	--turquesa:#62BCA8;
	--negro:#000000;
	--blanco:#ffffff;
	--amarillo:#FFAB00;
	--fucsia:#FF4081;
	--plomo:#9B9A9A;
	--turquesaTransp:#B8E1D8;
	--turquesaOpacidad:rgba(99,189,169,0.65);;
	--negroTransp:rgba(0,0,0,0.85);
	--blancoTransp:rgba(255,255,255,0.3);
	--amarilloTransp:rgba(255,171,0,0.7);
	--fucsiaTrans:rgba(255,64,129,0.3);
	--plomoTrans:rgba(155,154,154,0.3);
	--blanco2Transp:rgba(255,255,255,0.8);
}
*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border: none;
	/*text-transform: capitalize;*/

}

.parallax-completo{
	width: 100%;
	height: 100%;
	
	background-image: url(../img/duxfondoback.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}



.imgNavbar{
	width: 6rem;
}
/*-----------------*/
/*---BOTON LOGIN---*/
/*-----------------*/
.btn-login{
	
	padding: .4rem 1rem;
	border: 1px solid var(--negro);
	border-radius: 0.5rem;
	color: var(--negro);
	cursor: pointer;
}

.btn-login:hover{
	background-color: var(--turquesa);
	border: 1px solid var(--turquesa);
	color: white;
}
/*-----------------*/
/*---FIN BOTON LOGIN---*/
/*-----------------*/

*::selection{

}
html {
	font-size: 16px !important;
}
@media screen and (max-width: 540px) {
	html {
		font-size: 10px !important;
		
   }
}


/*-----------------*/
/*------INICIO-----*/
/*-----------------*/

.inicio{

		width: 100%;
		background: var(--turquesaOpacidad) ;
		clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%);
		
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 40rem;
		
		text-align: center;

	/*background: var(--turquesaTransp);
	clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 75%, 0 50%);
	background-size: cover;
	background-position: center;
	padding-top: 60rem;	*/

}

.imagen-inicio{
	width: 35%;
}
.card-text{
	font-size: 2.6rem;
}
/*-----------------*/
/*----FIN INICIO---*/
/*-----------------*/


/*-------------------------------*/
/*----------SWIPER CURSOS--------*/
/*-------------------------------*/
.cursos{
	padding-top: 5%;
	
}

table h1{
	font-size: 1.5rem;
	font-weight: bold;
	padding: 0;
}
table p{
	font-size: 1rem;
}



.titulo-curso{
	font-size: 2.5rem;
	font-weight: bold;
	color: var(--negroTransp);
}
.fecha-curso{
	font-size: 1.3rem;
}


.titulo-detalles{
	font-weight: bold;
}

.swiper {
	width: 100%;
	height: 100%;
	
  }

  .swiper-slide {
	  margin: 0;
	
	font-size: 18px;
	color: #000;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 60px;
  }

 
/*-----------------*/
/*---BOTON INSCRIPCION---*/
/*-----------------*/
.btn-inscripcion{
	
	padding: .7rem 3.5rem;
	background: var(--negro);
	border-radius: 0.5rem;
	color: var(--blanco);
	cursor: pointer;
	margin-top: 1.5rem;
	font-weight: bold;
}

.btn-inscripcion:hover{
	background-color: var(--turquesa);
	border: 1px solid var(--turquesa);
	color: white;
}
/*-----------------*/
/*---FIN BOTON LOGIN---*/
/*-----------------*/

/*------------------------*/
/*----------TIPS-=====----*/
/*------------------------*/
.tips{
	padding: 6rem;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*-----contenido tips-----*/
.titulo-seccion{
	text-align: right;
	font-size: 10rem;
	font-weight: bold;
	line-height: 12rem;	
	color: var(--plomoTrans);
	
}

.contenido-seccion{
	padding-right: 0;
	
}
.contenido-seccion .titulo-tips{
	font-size: 2rem;
	color: var(--negro);
	font-weight: bold;	
}
.linea {
	border-top: .5rem solid var(--turquesa);
	width: 5rem;
	border-radius: .5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
  }

.contenido-seccion .descripcion-tips{
	font-size: 1.5rem;
	color: var(--negro);
}
/*----------boton tips-----------*/
.btn-tips{
	display: inline-block;
	margin-top: 1rem;
	padding: .8rem 3rem;
	border: 4px solid var(--turquesa);
	border-radius: 1rem;
	
	background:var(--blanco);
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--turquesa);
	cursor: pointer;
	box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
	transition: all .3s linear;

}

.btn-tips:hover{
	/*transform: scale(1.1);*/
	background-color: var(--turquesa);
	border: 4px solid var(--turquesa);
	color: white;
	text-decoration: none;
}


/*---------NOTICIAS-------*/
/*------------------------*/
  /*-----SLIDE NOTICIAS-----*/
  /*------------------------*/
  
  	.noticias{
		background: var(--turquesaOpacidad);
		clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
		background-size: cover;
		background-position: center;
		
	}
	.noticias .content{
		text-align: left;
	}
	.noticias .imagen-noticias {
		text-align: center;
	}
	.noticias .imagen-noticias img{
		padding: 10%;
	}
	.noticias .fecha{
		font-size: 5rem;
		font-weight: bold;
		color: var(--blancoTransp);
	}
	
	.noticias .titulo{
		font-size: 2.5rem;
		font-weight: bold;
		color: var(--blanco);
		
	}
	.noticias .descripcion{
		font-size: 1.5rem;
		color: var(--blanco);
		
	}
	
		
	.swiper-button-prev {
		position: absolute;
		content: '\f053';
		
		font-weight: bold;
		color: #fff;
		margin-top: 10px;
	}
	
	.swiper-button-next {
		position: absolute;
		content: '\f054';
		font-weight: bold;
		color: rgb(139, 16, 133);
		margin-top: 10px;
	
	}

	.box{

	}
		/*----------------------------*/

	.btn-noticias{
		display: inline-block;
		margin-top: 1rem;
		padding: .8rem 3rem;
		/*border: 4px solid var(--turquesa);*/
		border-radius: 1rem;
		
		background:var(--amarillo);
		font-size: 1.2rem;
		font-weight: bold;
		color: var(--blanco);
		cursor: pointer;
		box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
		transition: all .3s linear;
	
	}
	
	.btn-noticias:hover{
		/*transform: scale(1.1);*/
		background-color: var(--negroTransp);
		border: 4px solid var(--negroTransp);
		color: white;
	}
	

body{
	background: rgba(70, 255, 64, 0.3);
}
/*------------------------*/
/*----------PREGUNTA------*/
/*------------------------*/
.preguntas{
	
	background: rgba(0, 0, 0, 0.55);

	padding: 8%;
	display: flex;
	align-items: center;
	justify-content: center;



	
		
}

/*-----contenido-----*/
.descripcion-pregunta{
	text-align: center;
	font-size: 4rem;
	color: var(--negro);
	padding-top: 0;
	padding-left: 14rem;
	padding-right: 14rem;
}
/*----------boton-----------*/
.btn-tips{
	display: inline-block;
	margin-top: 1rem;
	padding: .8rem 3rem;
	border: 3px solid var(--negro);
	background-color: transparent;
	border-radius: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--negro);
	cursor: pointer;
	box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
	transition: all .3s linear;

}

.btn-tips:hover{
	/*transform: scale(1.1);*/
	background-color: var(--negro);
	border: 4px solid var(--negro);
	color: white;
}


/*------------------------*/
/*----------FOOTER--------*/
/*------------------------*/
.footer{
	background: #9B9A9A;
	clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
	background-size:cover ;
	background-position: center;
	background-attachment: fixed;
	padding-top: 5%;
}
