/*////////////////////////////////////////*/
/*//////////////BIBLIOTECA////////////////*/
/*////////////////////////////////////////*/
body{
    position: relative;
}
.trianguloBordeBlanco{
    position: absolute;
	z-index: 3;
	width: 5%;
 left: 35rem;
  top: 8rem;
  transform: rotate(-40deg);
}
.trianguloBordeAmarillo{
    position: absolute;
	z-index: 3;
	width: 20%;
 left: -5rem;
  top: 35rem;
  transform: rotate(-40deg);
}
.trianguloBordePlomo{
    position: absolute;
	z-index: 3;
	width: 10%;
 left: 80rem;
  top: 90rem;
  transform: rotate(-40deg);
}
.puntosBlanco{
    position: absolute;
	z-index: 3;
	width: 15%;
 left: 5rem;
  top: 130rem;
}

/*-------encabezado-------*/
.biblioteca-encabezado{
    background: url(../img/fondoInicioLibros.jpg);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	background-attachment: fixed;
    padding:  6% 8% 8% 8%;
}

.titulo-biblioteca{
	font-size: 4rem;
	color: var(--blanco);
	font-weight: bold;	
    padding-bottom: 0;
   
}
.linea {
	border-top: .4rem solid var(--blanco);
	width: 5rem;
	
  }

 .descripcion-biblioteca{
	font-size: 1rem;
	color: white;
    
}

/*-------FIN encabezado-------*/


/*-------CARRUSEL BIBLIOTECA-------*/
.swiper {
        
    width: 100%;
    display: flex;
    padding-top: 50px;
    
    
  }
  .swiper-slide {
    /*opacity: 0.8;*/
    /*filter: grayscale(.5);*/
    filter: blur(4px);
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 430px;
    
    padding: 0;
    
  }
  
  .swiper-slide img {
    
    display: block;
    width: 100%;
  }
  .swiper-slide-active {
      /*opacity: 1;*/
      /*filter: grayscale(0);*/
      filter: none;
    }

/*-------FIN CARRUSEL BIBLIOTECA-------*/

.titulosCategLibrosDer{
    text-align: right;
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
}
.lineaDer {
	border-top: .4rem solid var(--turquesa);
	width: 5rem;
	text-align: right;
    margin-left: 93.5%;
  }
.titulosCategLibrosIzq{
    text-align: left;
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
}
.lineaIzq {
	border-top: .4rem solid var(--turquesa);
	width: 5rem;
	text-align: left;
  }
/*------------lISTA LIBROS---===----*/
.listas{
	min-height: 100vh;
	padding: 0 10%;
	padding-top: 7.5rem;
	padding-bottom: 2rem;
    /*background: rgb(94, 94, 94)*/
    margin-top: -5%;
}


.container-listas .card-listas{
    /*flex: 1 1 auto;*/
    position: relative;
    
    margin-bottom: 8rem;
    text-align: center;
    width: 16rem;
    height: 22rem;
    background: #ffff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0,0,0,0.5);
    

}

.container-listas .card-listas:hover{
    transform: perspective(2000px)rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0,0.5);
    z-index: 1000px;
}

.container-listas .img-box{
    position: relative;
    width: 100%;
    height: 100%;
    /*border: 1px solid #000;*/
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;

}

.container-listas .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-listas .card-listas:hover .img-box{
    transform: rotateY(-130deg);
}
.container-listas .card-listas .details{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding-top: 20px;
    margin: 10%;
    text-align: center;
    justify-content: center;
    font-size: .2rem;
}

.tituloSinopsis{
    font-size: 1rem;
	color: black;
    font-weight: bold;
}
.descSinopsis{
    font-size: .9rem;
	color: black;
}
.tituloLibro{
    font-size: 1.2rem;
	color: black;
    text-transform: uppercase;
    font-weight: 600;
}
.autor{
    
    font-size: 1.2rem;
}

.btnLibros{
	display: inline-block;
	
	padding: .5rem 2rem;
	width: 100%;
	font-size: 1.2rem;
	background: var(--turquesa);
	color: white;
	cursor: pointer;
	box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
	transition: all .3s linear;
    

}

.btnLibros:hover{
	background-color: black;
    color: white; 
    text-decoration: none;
}

/*------------FIN lISTA LIBROS---===----*/
/*////////////////////////////////////////*/
/*////////////FIN BIBLIOTECA//////////////*/
/*////////////////////////////////////////*/

/*------------------------*/
/*----------TIPS-=====----*/
/*------------------------*/
.bibliotecaFooter{
    background: url(../img/fondoInicioLibros.jpg);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	background-attachment: fixed;
    padding: 8%;
}
.textoBibliotecaFooter{
    text-align: center;
    font-size: 2rem;
    color: white;
}
.textoBibliotecaFooter2{
    text-align: center;
    font-size: 1.5rem;
    color: white;
}




