@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
	--turquesa:#62BCA8;
	--negro:#000000;
	--blanco:#ffffff;
	--amarillo:#FFAB00;
	--fucsia:#FF4081;
	--plomo:#9B9A9A;
	--turquesaTransp:#B8E1D8;
	--turquesaOpacidad:rgba(99,189,169,0.65);
	--negroTransp:rgba(0,0,0,0.85);
	--blancoTransp:rgba(255,255,255,0.3);
	--amarilloTransp:rgba(255,171,0,0.7);
	--fucsiaTrans:rgba(255,64,129,0.3);
	--plomoTrans:rgba(155,154,154,0.3);
	--blanco2Transp:rgba(255,255,255,0.8);
}
*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border: none;
	/*text-transform: capitalize;*/

}

.parallax-completo{
	width: 100%;
	height: 100%;
	
	background-image: url(../img/duxfondoback.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}



.imgNavbar{
	width: 6rem;
}
/*-----------------*/
/*---BOTON LOGIN---*/
/*-----------------*/
.btn-login{
	
	padding: .4rem 1rem;
	border: 1px solid var(--negro);
	border-radius: 0.5rem;
	color: var(--negro);
	cursor: pointer;
}

.btn-login:hover{
	background-color: var(--turquesa);
	border: 1px solid var(--turquesa);
	color: white;
}
/*-----------------*/
/*---FIN BOTON LOGIN---*/
/*-----------------*/

*::selection{

}
html {
	font-size: 16px !important;
}
@media screen and (max-width: 540px) {
	html {
		font-size: 10px !important;
		
   }
}


/*-----------------*/
/*------INICIO-----*/
/*-----------------*/

.inicio{

		/*width: 100%;
		background: blue;
		clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%);
		
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 40rem;
		
		text-align: center;*/

	/*background: var(--turquesaTransp);
	clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 75%, 0 50%);
	background-size: cover;
	background-position: center;
	padding-top: 60rem;	*/

}
.imagen-inicio{
	width: 35%;
}
.card-text{
	font-size: 2.5rem;
	color: white;
}
/*-----------------*/
/*----FIN INICIO---*/
/*-----------------*/

/*-----------------*/
/*----COMUNIDAD---*/
/*-----------------*/

.titulo-com1{
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--turquesaOpacidad);
  }
  
  .titulo-com3{
    font-size: 6rem;
    font-weight: bold;
    color: var(--plomoTrans);
	line-height: .5rem;
  }
  .com{
	  text-align: right;
  }

  .divCardPersonCom{
	padding: 2%;
  }
  .cardPersonCom{
	background:var(--plomoTrans);
	margin: 2%;
	text-align: center;
	position: relative;
	display: inline-block;
	box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
  }
  .imgPersonCom{
	width:40%;
	background: var(--turquesaOpacidad);
	margin:10%
  }
  .descPersonCom{
	  padding: 0% 15% 10% 15%;
	  font-size: .8rem;

  }
  .nombrePersonCom{
	  font-weight: bold;
	  font-size: 2.8rem;
	  text-align: left;
	  position: absolute;
	  bottom: -70px;
  }
  .lineaCardPersonCom{
	border-top: .3rem solid black;
	width: 10px;
	
	
	padding-bottom: 1.1rem;
	text-align: right;
	padding-bottom: 10%;
  }
  .comunidad{
	padding: 0% 10% 0% 10%;
  }
  .verMasCom{
	  text-align: right;
	  justify-content: right;
	 
    border: .2rem solid ;
    background-color: transparent;
    
    color: rgba(99,189,169,0.65);
    font-size: 1.2rem;
    font-weight: bold;
    
    padding: 5px 20px;
    transition: all 0.6s ease;
  }
  .verMasCom:hover{
	border: .2rem solid black;
    background-color: black;
	color: white;
  }
  .iconoPlayCom{
	
	position: absolute;
	top: 120px;
	right: 90px;
	z-index: 1;
	color: black;
	font-size: 3rem;
	
  }

/*---------------------------80----*/
/*----------SWIPER --------*/
/*-------------------------------*/


.swiper {
	width: 100%;
	height: 100%;
	
  }

  .swiper-slide {
	  margin: 0;
	
	font-size: 18px;
	color: #000;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 60px;
  }

 


/*------------------------*/
/*----------TIPS-=====----*/
/*------------------------*/
.tips{
	padding: 2% 10% 2% 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*-----contenido tips-----*/
.titulo-seccion{
	text-align: right;
	font-size: 9rem;
	font-weight: bold;
	line-height: 10rem;	
	color: var(--plomoTrans);
	
}

.contenido-seccion{
	padding-right: 0;
	
	
}
.contenido-seccion .titulo-tips{
	font-size: 1.6rem;
	color: black;
	
}
.linea {
	border-top: .3rem solid var(--turquesa);
	width: 5rem;
	
	padding-top: 1rem;
	padding-bottom: 1rem;
  }

.contenido-seccion .descripcion-tips{
	font-size: 1rem;
	color: var(--negro);
}
/*----------boton tips-----------*/
.btn-tips{
	display: inline-block;
	margin-top: 1rem;
	padding: .4rem 2rem !important;
	border: 4px solid var(--turquesa) !important;
	border-radius: 0 !important;
	
	
	font-size: 1.2rem !important;
	
	color: var(--turquesa) !important;
	

}

.btn-tips:hover{
	/*transform: scale(1.1);*/
	background-color: black !important;
	border: 4px solid black !important;
	color: white !important;
	text-decoration: none;
}


/*---------NOTICIAS-------*/
/*------------------------*/
  /*-----SLIDE NOTICIAS-----*/
  /*------------------------*/
  
  	.noticias{
		background: var(--turquesaOpacidad);
		clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
		background-size: cover;
		background-position: center;
		padding: 2% 7% 2% 7%;
		
	}
	.noticias .content{
		text-align: left;
	}
	.noticias .imagen-noticias {
		text-align: center;
	}
	.noticias .imagen-noticias img{
		padding: 10%;
	}
	.noticias .fecha{
		font-size: 5rem;
		font-weight: bold;
		color: var(--blancoTransp);
	}
	
	.noticias .titulo{
		font-size: 1.6rem;
		font-weight: bold;
		color: var(--blanco);
		
	}
	.noticias .descripcion{
		font-size: 1rem;
		color: var(--blanco);
		
	}
	
		

		/*----------------------------*/

	.btn-noticias{
		display: inline-block;
		margin-top: 1rem;
		padding: .4rem 2rem ;
		border: 3px solid white;
		
		
		background:transparent;
		font-size: 1.2rem;
		
		color: var(--blanco);
		cursor: pointer;
		box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
		
	
		
	}
	
	.btn-noticias:hover{
		/*transform: scale(1.1);*/
		background-color: var(--negroTransp);
		border: 3px solid var(--negroTransp);
		color: white;
		text-decoration: none;
	}
	






/*------------------------*/
/*----------FOOTER--------*/
/*------------------------*/
.footer{
	background: #9B9A9A;
	clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
	background-size:cover ;
	background-position: center;
	background-attachment: fixed;
	padding-top: 5%;
	margin-top: -5%;
}


/*-------------*/
.wrap-image {
	position: relative;
	width: 75%;
	left: 12%;

}
.wrap-image::before, .wrap-image::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	border: 2px solid #ffffff;
	transition: all 0.25s ease-out;
}
.wrap-image::before {
	background-color: rgba(255,255,255,0.8);
	top: -25px;
	left: -25px;
}
.wrap-image::after {
	bottom: -25px;
	right: -25px;
}
.wrap-image:hover::before {
	top: 25px;
	left: 25px;
}
.wrap-image:hover::after {
	bottom: 25px;
	right: 25px;
}/*------------*/

  
  .cardInicio {
	
	background: #0A1120;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
	
	position: relative;
   
	overflow: hidden;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);

		  
		  background-size: cover;
		  background-position: center;
		  background-repeat: no-repeat;
		  height: 40rem;
  }
  
  .cardInicio span {
	height: 100%;
	background: url(../img/fondoCabeceraDux.jpg) no-repeat;
	background-size: cover;
	/* Full height */
	height: 100%; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	
	position: absolute;
	left: 0;
	transition: 1s;
  }
  
  /* membuat animasi image hover */
  .cardInicio span:nth-child(1) {
	z-index: 10;
	width: 25%;
	transition-delay: 0;
  }
  .cardInicio span:nth-child(2) {
	z-index: 9;
	width: 50%;
	transition-delay: 0.3s;
  }
  .cardInicio span:nth-child(3) {
	z-index: 8;
	width: 75%;
	transition-delay: 0.6s;
  }
  .cardInicio span:nth-child(4) {
	z-index: 7;
	width: 100%;
	transition-delay: 0.8s;
  }
  
  .cardInicio:hover span {
	transform: translateY(-100%);
	transition: 1s;
  }
  .cardInicio:hover span:nth-child(1) {
	transition-delay: 0.8s;
  }
  .cardInicio:hover span:nth-child(2) {
	transition-delay: 0.6s;
  }
  .cardInicio:hover span:nth-child(3) {
	transition-delay: 0.3s;
  }
  .cardInicio:hover span:nth-child(4) {
	transition-delay: 0s;
  }
  
  .contentCard {
	color: #fff;
	text-align: center;
	padding: 80px 20px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transform: translateY(100%);
	transition: 2s;
  }
  .contentCard  p {
	color: white;
	font-size: 1rem;
  }
  .contentCard  a {
	width: 300px;
	text-decoration: none;
	border-radius: 50px;
	border: 1px solid #fff;
	display: block;
	margin: auto;
	padding: 10px;
	color: #fff;
  }
  
  .cardInicio:hover .contentCard  {
	transform: translateY(0);
  }


/*cuadrosColor*/
.cursosInicio{
	text-align:center;
	font-size:1.2rem;
	background: url(../img/fondoCursoOpacity.jpg);
	clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	
	padding: 5% 10% 5% 10%;
}
.cursosGrid{
	
}
.cuadrosColor{
	background: rgba(255,255,255,.3);
	color: white;
	margin: 2%;
	padding: 3%;
	
}
.tituloCatCurso{
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}
.desCatCurso{
	font-size: .8rem;
}
.btnVer{
	border: 1px solid white;
	padding: 2% 8% 2% 8%;
	background: transparent;
	color: white;
	font-size: .8rem;
}
.btnVer:Hover{
	border: 1px solid white;
	
	background: white;
	color: black;
	font-weight: bold;
}



 



/*--------*/
 .composition {
	 position: relative;
	 width: 250px;
	 background: violet;
	 
}
 .composition__photo {
	 width: 55%;
	 box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4);
	 border-radius: 2px;
	 position: absolute;
	 z-index: 10;
	 transition: all 0.2s;
}
 .composition__photo--p1 {
	 left: 1rem;
	 top: -1rem;
}
 .composition__photo--p2 {
	 right: 0rem;
	 top: 0rem;
}
 .composition__photo--p3 {
	 left: 80%;
	 top: 1rem;
}
 .composition__photo:hover {
	 transform: scale(1.05) translateY(-0.5rem);
	 box-shadow: 0 2.5rem 3rem rgba(255, 255, 255, 0.5);
	 z-index: 20;
	 outline: .3rem solid #ffffff;
	 outline-offset: .5rem;
}
 .composition:hover .composition__photo:not(:hover) {
	 transform: scale(1);
}
 /*------------------------*/
/*----------PREGUNTA------*/
/*------------------------*/
.preguntas{
	
	background: url(../img/fondoInicioLibros.jpg);
		clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
		background-size: cover;
		background-position: center;

	padding: 7% 0 12% 0;
	display: flex;
	align-items: center;
	justify-content: center;
	
		
}
.tituloBibliotecaInicio{
	font-size: 1.5rem;
	text-align: left;
	color: white;
}

/*-----contenido-----*/
.descripcion-pregunta{
	text-align: left;
	color: white;

}