.before_after {
    width: 960px;
    height: 300px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.before_after .img {
    position: absolute;
    width: 60%;
    height: 100%;
    transform: skewX(-20deg);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 400ms, left 400ms, right 400ms;
}
.before_after .img--before {
    right: 49.9%;
}
.before_after .img--before .img__bg {
    left: 10%;
}
.before_after .img--after {
    left: 49.9%;
}
.before_after .img--after .img__bg {
    right: 10%;
}
.before_after .img__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transform: skew(20deg);
    transition: left 400ms, right 400ms;
}
.before_after .img.focus {
    width: 80%;
}
.before_after .img.focus.img--before {
    right: 29.9%;
}
.before_after .img.focus.img--after {
    left: 29.9%;
}
.before_after .img.unfocus {
    width: 40%;
}
.before_after .img.unfocus.img--before {
    right: 69.9%;
}
.before_after .img.unfocus.img--before .img__bg {
    left: 20%;
}
.before_after .img.unfocus.img--after {
    left: 69.9%;
}
.before_after .img.unfocus.img--after .img__bg {
    right: 20%;
}
.before_after .content {
    position: absolute;
    color: #fff;
    z-index: 10;
    text-transform: uppercase;
    font-family: 'Open Sans';
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
    pointer-events: none;
}
.before_after .content--before {
    top: 20px;
    left: 20px;
}
.before_after .content--after {
    bottom: 20px;
    right: 20px;
}
@media screen and (max-width: 960px) {
    .before_after {
        width: auto;
   }
    .before_after .img--before .img__bg {
        left: 8vw;
   }
    .before_after .img--after .img__bg {
        right: 8vw;
   }
}
@media screen and (max-width: 550px) {
    .before_after .img {
        transform: skewX(-10deg);
   }
    .before_after .img__bg {
        transform: skewX(10deg);
   }
}
