:root{
	--turquesa:#62BCA8;
	--negro:#000000;
	--blanco:#ffffff;
	--amarillo:#FFAB00;
	--fucsia:#FF4081;
	--plomo:#9B9A9A;
	--turquesaTransp:#B8E1D8;
	--turquesaOpacidad:rgba(99,189,169,0.4);
	--negroTransp:rgba(0,0,0,0.85);
	--blancoTransp:rgba(255,255,255,0.3);
	--amarilloTransp:rgba(255,171,0,0.7);
	--fucsiaTrans:rgba(255,64,129,0.3);
	--plomoTrans:rgba(155,154,154,0.3);
	--blanco2Transp:rgba(255,255,255,0.8);
}
body{
	position: relative;
}
.trianguloBordeAmarillo{
	position: absolute;
	z-index: 3;
	width: 25%;
 left: -5rem;
  top: 5rem;
  transform: rotate(-40deg);
}
.puntosBlancoLargo{
	position: absolute;
	z-index: 3;
	width: 15%;
 right: 5rem;
  top: 5rem;
}
.zigZagNegro{
	position: absolute;
	z-index: 3;
	width: 15%;
 left: 5rem;
  top: 35rem;
}
.circuloBordeAmarillo{
	position: absolute;
	z-index: 3;
	width: 15%;
 right: 5rem;
  top: 40rem;
}
.trianguloBordeTurquesa{
	position: absolute;
	z-index: 3;
	width: 10%;
 left: 5rem;
  top: 55rem;
  
}
.trianguloBordeAmarillo2{
	position: absolute;
	z-index: 3;
	width: 20%;
 right: 5rem;
  top: 100rem;
  transform: rotate(-40deg);
}
/*-----------------------*/
/*----TIPS PRINCIPAL-----*/
/*-----------------------*/

/*----TEXTO DESCRIPCION TIPS PRINCIPAL-----*/

.titulo-tips-p{
	font-size: 2.2rem; 
	font-weight: bold; 
	color: black;
}
.autor-tips-p{
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--plomoTrans);
}
.resumen-tips-p{
	font-size: .8rem;
	color: black;
}
/*----FONDO TIPS PRINCIPAL-----*/

#GimnasiosContenedor {
	position: relative;
	width: 100%;
	
  }
  
  #map {
	  background: chocolate;
	height: 650px;
	width: 450px;
	
	position: relative;
	z-index: 20;
	
	
	left: 60%;
  }
  
  #ModalContacto {
	position: absolute;
	top: 20%;
	left: 35%;
	z-index: 50;
  }
.descripcion-tips-principal{
	height: auto;
	width: 28%;
	background: turquoise;
	position: absolute;
	top: 16%;
	left: 6%;
	z-index: 100;
	
}
/*CARRUSEL TIPS*/
.carrusel-tips{
	padding: 5% 5% 10% 5%;
}
.titulo-tips-otros{
    font-size: 15rem;
    font-weight: bold;
    color: var(--plomoTrans);
	text-align: center;
	margin: 0;
  }


.newsCard {
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #fff;
	color:#fff;
	overflow: hidden;
	border-radius: 6px;
	margin: 0;
  }
  
  figure img {
  display: block;
  object-fit: cover !important;
  object-position: center center !important; height: 100%;
  width: 100%;
  }
  
  .overlay{
	background: var(--turquesa);
	background: -moz-linear-gradient(0deg, rgba(99,189,169,1) 0%, rgba(89,59,116,0) 100%);
	background: -webkit-linear-gradient(0deg, rgba(99,189,169,1) 0%, rgba(89,59,116,0) 100%);
	background: linear-gradient(0deg, rgba(99,189,169,1) 0%, rgba(89,59,116,0) 100%);
	display: block;
	position: absolute;
	height: 200px;
	width: 100%;
	bottom: 0;
	z-index: 3;
  }
  
  .newsCaption {
	
	position: absolute;
	
	top: auto;
	bottom: 34px;
	left: 0;
	width: 100%;
	height: 50%;
	z-index: 10;
	padding: 2%;
	-webkit-transform: translateY(80%);
	transform: translateY(80%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition:  -webkit-transform 0.4s;
	transition:  -webkit-transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s,  -webkit-transform 0.4s;
  }
  .newsCaption i{font-size: 24px;}
  
  .newsCaption-title {
	margin-top: 0px;
	
  }
  .newsCaption-content {
	margin: 0;
	font-size: .9rem;
  }
  
  .newsCaption-link {
	color: #fff;
	text-decoration: underline;
	opacity: .8;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.15s;
			transition-duration: 0.15s;
	-webkit-transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
			transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  }
  .news-Slide-up:hover .overlay{ background: var(--turquesa);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(89,59,116,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(89,59,116,0) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(89,59,116,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#400a6f",endColorstr="#593b74",GradientType=1);
  }
  
  .news-Slide-up:hover .newsCaption {
  
	-webkit-transform: translateY(0px);
			transform: translateY(0px);
	-webkit-transition:  -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	
	transition: transform 0.4s, -webkit-transform 0.4s;
  }


 



  .swiper-slide {
	
	
	padding: 2%;
	
  }
  .tipsInicio{
	background: url(../img/fondoInicioLibros.jpg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	background-attachment: fixed;
	
  }
  .blancoTips{
	  background: white;
	  padding: 5% 0;
	  align-items: right;

	  
  }
.cuadradoTips{
	background: var(--turquesaTransp);
	width: 20rem;
	height: 20rem;
	margin: 0 0% 0 40%;
	padding: 6% 5% 6% 10%;
	
}
.cuadradoTips2{
	background: var(--plomoTrans);
	margin: 0 0% 0 50%;
	z-index: 2;
	width: 50rem;
	height: 15rem;
	padding: 6%;
	
}
.tituloTipsInicio{
	font-size: 2.6rem;
	font-weight: bold;
	width: 22rem;
	
}
.nombreTipsInicio{
	font-weight: bold;
}

.btnPlayTipsInicio{
	background: var(--turquesaTransp);
	
	font-size: 1rem;
	font-weight: bold;
	color: white;
	padding: 2% 10% ;
}
.btnPlayTipsInicio:hover{
	color: var(--turquesaTransp);
	background: white;
}




 
 